{% extends "base_site.html" %}

{% block title %} Select Hotel {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  {% include "site_template/navigation.html" %}

  <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Hotels</h5>
                      <span class="h2 font-weight-bold mb-0">{{ num_hotels }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                        <i class="ni ni-building"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="container-fluid mt--7">
    
      <!-- Table -->
      <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header bg-transparent">
                <h3 class="mb-0">Associated hotels</h3>
              </div>
              <div class="card-body">

				<div class="text-muted text-center mt-1 mb-2">
              
				{% if num_hotels == 0 %}
					<span class="text-info">Your account is currently not linked to any hotels. Create one <a href="{{ url_for('home_blueprint.create_hotel') }}" class="button">here</a></span>
				{% elif current_user.is_admin %}
					<a href="{{ url_for('home_blueprint.create_hotel') }}" class="button">Create hotel</a>
				{% endif %}
				
				<!--
                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                  Register
                {% endif %}
				-->

				</div>
			  
                <div id="hotelsGrid" class="row icon-examples">
					{% for hotel in hotels %}
						<div class="col-lg-3 col-md-6 mb-4" style="display: flex;">
							<div class="card" style="align-items: stretch;">
							  {% if hotel.cover_image %}
								<img class="card-img-top" src="{{ hotel.cover_image }}" alt="Image error" style="height: 150px; width: auto;">
							  {% else %}
								<img class="card-img-top" src="http://127.0.0.1:5000/static/assets/img/theme/empty-img.jpg" alt="Image error" style="height: 150px; width: auto;">
							  {% endif %}

							  <div class="card-body">
								<h5 class="card-title">{{ hotel.name }}</h5>
								<p class="card-text">{{ hotel.hotel_smalldesc }}</p>
							  </div>
							  <div class="text-center">
								<form role="form" method="post" action="">
									{% if current_user.is_admin %}
										<a href="{{ url_for('home_blueprint.edit_hotel', hotel_id=hotel.seq_id) }}" class="button" style="display:block;">Manage</a>
									{% else %}
										<a href="{{ url_for('home_blueprint.edit_hotel', hotel_id=hotel.seq_id) }}" class="button mb-2" style="display:block;">Manage</a>
									{% endif %}	
									{% if current_user.is_admin %}
										  <a href="#" class="button mb-2" style="display:block;" data-toggle="modal" data-target="#modal-notification_{{hotel.seq_id}}">Delete</a>
										  <div class="modal fade" id="modal-notification_{{hotel.seq_id}}" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
											 <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
												<div class="modal-content bg-gradient-danger">
												   <div class="modal-header">
													  <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
													  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													  <span aria-hidden="true">×</span>
													  </button>
												   </div>
												   <div class="modal-body">
													  <div class="py-3 text-center">
														 <i class="ni ni-bell-55 ni-3x"></i>
														 <h4 class="heading mt-4">You should read this!</h4>
														 <p>Deleting a hotel is irreversible. The hotel information and gallery will be deleted. Are you sure you want to delete the hotel "{{hotel.name}}?"</p>
													  </div>
												   </div>
												   <div class="modal-footer">
													  <button name="delete" value="{{ hotel.seq_id }}" class="btn btn-white" type="submit">Delete</button>
													  <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Cancel</button>
												   </div>
												</div>
											 </div>
										  </div>
									{% endif %}
								</form>
							  </div>
						    </div>
						</div>
					{% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

        {% include "site_template/footer.html" %}
          
    </div>        

{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
	function searchLimiter() {
	  var input, filter, ul, li, a, i, txtValue;
	  input = document.getElementById('searchBar');
	  filter = input.value.toUpperCase();
	  ul = document.getElementById("hotelsGrid");
	  li = ul.getElementsByClassName('col-lg-3 col-md-6 mb-4');

	  // Loop through all list items, and hide those who don't match the search query
	  for (i = 0; i < li.length; i++) {
		a = li[i].getElementsByClassName("card-title")[0];
		txtValue = a.textContent || a.innerText;
		if (txtValue.toUpperCase().indexOf(filter) > -1) {
		  li[i].style.display = "flex";
		} else {
		  li[i].style.display = "none";
		}
	  }
	}
  </script>
{% endblock javascripts %}
